  
<!--article.html-->

<!--Embed the header.html template at this location-->
{{ template "header.html" .}}
<div class="col-xs-6">
  <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th class="col-md-1">#</th>
                  <th class="col-md-2">{{.payload.Nama}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class="col-md-1">ID Barang</td>
                  <td class="col-md-2">{{.payload.ID}}</td>
                </tr>
                <tr>
                  <td class="col-md-1">Harga Barang</td>
                  <td class="col-md-2">Rp.{{.payload.Harga}},-</td>
                </tr>
                 <tr>
                  <td class="col-md-1">Posting</td>
                  <td class="col-md-2">{{.payload.User}}</td>
                </tr>
              </tbody>
            </table>
          </div>
</div>

<!--Embed the footer.html template at this location-->
{{ template "footer.html" .}}